body {
	font-family: sans-serif;
	background-image: url(http://www.grimdawn.com/webfiles/mainbackground.jpg);
	background-attachment: fixed;
	color: rgb(218, 218, 170);
	padding-left: 5%;
	padding-top: 2%;
}
.main {
	width: auto;
	float: left;
}

ul {
	background: #CCC;
	opacity: 0.5;
	padding: 20px;
	border-radius: 5px;
}

ul li {
	padding-top: 2px;
	padding-bottom: 2px;
	display:block;
}

ul li[data-item-rarity="RARE"] a {
	color:  #39FF14;	
	text-shadow: 1px 1px 2px #000;	
}
ul li[data-item-rarity="EPIC"] a {
	color:  #99bdff;	
	text-shadow: 1px 1px 2px #000;

}
ul li[data-item-rarity="LEGENDARY"] a {
	color:  #e23fe5;	
	text-shadow: 1px 1px 2px #fff;

}
ul li[data-item-type]:before {
	display:inline-block;
	text-shadow:none;
	font-weight:normal;
	float: left;
	font-size:x-small;
	width: 40px;
	
}
ul li[data-item-type="ARMOR"]:before {
	content:"Armor";
	color: #229;
}
ul li[data-item-type="ACCESSORIES"]:before {
	content:"Other";
	color: #380;
}
ul li[data-item-type="WEAPON"]:before {
	content:"Hands";
	color: #922;
}

ul li[data-item-ispartofaset="true"]:after {
	display:block;
	content:"set item";
	text-shadow:none;
	font-weight:normal;
	font-style: italic;
	float: right;
	color: #000;
	font-size:x-small;
}

ul li span.num {
	color: #000;
	display: inline-block;
	width: 10%;
}

ul li a {
	font-weight:bold;
	text-decoration: none;
}
ul li a:hover {
	text-decoration: underline;
}