.tab-content-area .scroll-pane .viewport  {
    -fx-background-image: url(mainBg.jpg);
}

.tab-header-background {
    /*-fx-background-image: url(tab-header-bg.jpg);*/
    /*-fx-background-repeat: repeat-x;*/
}

.form-content-box {
    -fx-background-color: transparent ;
}

.form-label {
    /*-fx-text-fill: #ffffff;*/
    -fx-font-weight: bold;
}

#generate-btn {
    -fx-font-weight: bold;
}

.form-tooltip {
    -fx-font-size: 9;
    -fx-font-style: italic;
}
#skipLegendaryNoSet-form-label,
#outputLegendaries-form-label {
    -fx-text-fill: purple;
}

#showAllSettings-form-tooltip,
#showAllSettings-form-label {
    -fx-text-fill: red;
}

#skipEpicNoSet-form-label ,
#outputEpics-form-label {
    -fx-text-fill: #222299;
}

#outputExaltedThreads-form-tooltip,
#outputExaltedThreads-form-label,
#outputRares-form-tooltip,
#outputRares-form-label {
    -fx-text-fill: greenyellow;
}